.LoginPage {
	background-image: url("../../public/5.jpg") ;
	background-position: center center;
	background-size: cover;
	width: 100%;
}
body > .grid {
	height: 100%;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: -2em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}